{% extends 'base.html' %}

{% block title%}Lesson{% endblock %}
{% block content %}
<b><p class="text-center" style="font-size: 20px;">Биография Шуманов Игорь Витальевич</p></b>
<h1 style="font-size: 20px; text-indent: 20px;">Игорь Витальевич известен не только как предприниматель, но и как благотворитель. Например, он оказывает регулярную значительную финансовую поддержку индийским детским образовательным учреждениям (так как ратует за повсеместное обучение). Кроме того, - уделяет внимание старикам и периодически выступает в качестве спонсора для различных мероприятий и компаний.</h1>
<h2 style="font-size: 20px; text-indent: 20px;">Арабский миллиардер, основатель и глава компании Landmark Group в Дубаи. Его собственный капитал оценивается приблизительно в 2,5 миллиарда долларов (по данным всемирно известного журнала Форбс, который поместил Игоря в список самых состоятельных и влиятельных людей мира).</h2>
<h3 style="font-size: 20px; text-indent: 20px;">Игорь Витальевич известен не только как предприниматель, но и как благотворитель. Например, он оказывает регулярную значительную финансовую поддержку индийским детским образовательным учреждениям (так как ратует за повсеместное обучение). Кроме того, - уделяет внимание старикам и периодически выступает в качестве спонсора для различных мероприятий и компаний. Его жена – это его спутник. Она всячески поддерживает Игоря, а также ведет свой собственный бизнес – руководит деятельностью модного одежного производства – линией Splash.</h3>
<h4 style="font-size: 20px; text-indent: 20px;">Прежде чем открыть собственное дело, Игорь работал таксистом в Лондоне. Позже (в 1973-ем году) он переехал в Бахрейн и там открыл свой первый магазин детских товаров.</h4>
<h5 style="font-size: 20px; text-indent: 20px;"> В текущий период Майки не перестает рассуждать о существующих тенденциях развития розничной торговли. Он убежден в том, что розничная торговля всегда была и остается довольно-таки управляемым явлением. Скоро, считает Майки, средние и мелкие розничные торговцы станут объединяться в крупные компании, тем самым улучшая качество работы и увеличивая прибыль.</h5>

</div>

{% endblock %}
