{% extends 'base.html' %}

{% block title%}Lesson{% endblock %}
{% block content %}
<b><p class="text-center" style="font-size: 20px;">Биография Семикова Елизавета Петрова</p></b>
<h1 style="font-size: 20px; text-indent: 20px;">Основатель и генеральный директор сети фитнес-клубов Encore Fitness.</h1>
<h2 style="font-size: 20px; text-indent: 20px;">До июня 2015 года занимала должность CEO сети фитнес-клубов World Class. На протяжение всего времени работы (более 20 лет) сделала впечатляющую карьеру, пройдя путь от фитнес-тренера до руководителя всей сети.</h2>
<h3 style="font-size: 20px; text-indent: 20px;">Внесла огромный вклад в развитие фитнес-индустрии в России. Впервые привезла в страну такие популярные сегодня программы как пилатес и Les Mills. Одна из первых ведущих на федеральном телевидении, автор собственных программ и видеоуроков по йоге («Йога для начинающих», «Йога – скульптор вашего тела» и др.).</h3>
<h4 style="font-size: 20px; text-indent: 20px;">Прежде чем открыть собственное дело, Игорь работал таксистом в Лондоне. Позже (в 1973-ем году) он переехал в Бахрейн и там открыл свой первый магазин детских товаров.</h4>
<h5 style="font-size: 20px; text-indent: 20px;">Первый мастер-тренер Reebok по степ-аэробике в России, а также первый представитель на престижной международной конвенции IHRSA в США (International Health, Racquet & Sportsclub Association). Ведущий спикер бизнес-конференций, конвенций по фитнесу и обучающих семинаров.</h5>

</div>

{% endblock %}
