{% extends "base.html" %}
{% block title %}Войти{% endblock %}
{%  block start %}
<style>
.btn.btn-primary {
    background: #fbceb5 !important;
    border: 1px solid #fbceb5 !important;
    color: #000 !important;
}
.form-group {
    margin-bottom: 1rem;
}
.form-control{
    background: transparent;
    border: none;
    height: 50px;
    border: 1px solid transparent;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 40px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;

}
.form-control:focus{
    background: transparent;
    border: none;
    transition: 0.3s;
    color: white;
    outline: none;
}
.form-control:after{
    color: white;
}


.form-control::placeholder {
    font-weight: bold;
    color: white;
}

body:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    background: #000;
    opacity: .5;
    z-index: -1;
}
.login-text{
    font-size:16pt;
    text-decoration: none;
}
</style>
<body style="background-image: url(https://images.unsplash.com/photo-1621891333819-00c206ec8994?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80); height: 1080px; background-size: cover;background-repeat: no-repeat;background-position: center center;">
    <section class="ftco-section"style="margin-top:10%">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4">
                <div class="login-wrap p-0">
                    <h3 class="mb-4 text-center">Есть аккаунт?</h3>
                        <form method="POST" action="">
                            {% csrf_token %}
                            <div class="form-group">
                                <input type="text"  name="username" id="username" class="form-control" placeholder="Логин" required>
                            </div>
                            <div class="form-group">
                                <input type="password" name='password' class="form-control" id="password" placeholder="Пароль" required>
                            </div>
                            {{form.errors}}
                            <div class="form-group">
                                <button type="submit" class="form-control btn btn-primary">Войти</button>
                            </div>
                            <div class="form-group d-md-flex">
                                <div class="w-50">
                                    <a class="login-text" href="{% url 'password_reset' %}" style="color: #fff">Забыли пароль?</a>
                                </div>
                            </div>
                            <p class="w-100 text-center" style="color:white; font-size:16pt;"><a href="{% url 'signup' %}" style="color: #fff; text-decoration: none;">— Или зарегистрируйтесь —</a></p>
                        </form>
                </div>
            </div>
        </div>
    </div>
    </section>
</body>
{% endblock %}